<p>こんにちは、 <%= @user.email %> さん</p>
<hr>
<p>以下のリンクをクリックしてパスワードをリセットしてください。</p>
<p>
  <a href="<%= @url %>" style="display:inline-block; padding:10px 20px; font-size:16px; color:#fff; background-color:#007bff; text-decoration:none; border-radius:5px;">
    パスワードリセット
  </a>
</p>