/* サイドバーの全体レイアウト */
  /* サイドバー */
  .sidebar {
    background-color: rgba(255, 255, 255, 0.8); /* 白の半透明背景 */
    min-width: 200px; /* サイドバーの幅 */
    height: 100vh; /* サイドバーを画面全体の高さに設定 */
    position: fixed; /* 固定位置に設定 */
    z-index: 10; /* 背景画像より前面に表示 */
  }

  /* サイドバー内のリスト項目 */
  .sidebar .list-group-item {
    background-color: transparent; /* 項目背景を透明に */
    border: none; /* 項目間のボーダーを削除 */
    color: #333; /* 文字色を濃いグレーに設定 */
  }

  .sidebar .list-group {
    width: 95px;
  }

  .sidebar .list-group-item:hover {
    background-color: rgba(0, 0, 0, 0.1); /* ホバー時に薄い黒を表示 */
  }