<%= form_with url: password_resets_path, local: true, method: :post do |form| %>
  <div class="field">
    <%= form.label :email, t('activerecord.attributes.user.email') %><br />
    <%= form.text_field :email %>
    <%= form.submit "パスワードをリセットする" %>
  </div>
<% end %>