<hr class="border border-secondary border-2 opacity-50">

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-6 col-12 mb-4 d-flex justify-content-center">
      <div class="card h-100 w-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-chart-line" style="font-size: 35px;"></i>
          <h5 class="card-title ms-4 mt-2">クリニック登録</h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            顧客であるクリニックの情報を登録できます。<br>
            住所を登録することで、場所の確認が簡単に行えます。<br>
            訪問可能な日時や訪問頻度の設定も可能です。<br>
          </p>
        </div>
      </div>
    </div>
      
    <div class="col-lg-6 col-12 mb-4 d-flex justify-content-center">
      <div class="card h-100 w-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <i class="fa-regular fa-map" style="font-size: 35px;"></i>
          <h5 class="card-title ms-4 mt-2">製品登録</h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            製品を登録して、適応病名を確認できます。<br>
            各クリニックで使用されている製品の確認も可能です。（※今後対応予定）
          </p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 col-12 mb-4 d-flex justify-content-center">
      <div class="card h-100 w-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-user-tie" style="font-size: 35px;"></i>
          <h5 class="card-title ms-4 mt-2">タスク管理</h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            訪問スケジュールの管理が可能です。<br>
            提出物を登録することで、事務作業の抜け漏れを防ぎます。<br>
            提出期限が過ぎた提出物は、自動で削除されます。
          </p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 col-12 mb-4 d-flex justify-content-center">
      <div class="card h-100 w-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <i class="fa-regular fa-newspaper" style="font-size: 35px;"></i>
          <h5 class="card-title ms-4 mt-2">自動スケジューリング機能</h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            「スケジュール自動作成」ボタンを押すと、<br>
            登録した訪問頻度に基づいて、<br>
            スケジュールが自動的に作成されます。<br>
            ※対象は、自分が登録したクリニックのみです。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="border border-secondary border-2 opacity-50">

<div class="container text-center">
    <p class="lead mb-4">
      ※ご利用にはログインが必要です<br>
    </p>
</div>
