<hr class="border border-secondary border-2 opacity-50">

<div class="container">
  <div class="row justify-content-center mt-4">
    <div class="col-lg-6 col-12 mb-4 d-flex justify-content-center">
      <div class="card h-100 w-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-chart-line" style="font-size: 35px;"></i>
          <h5 class="card-title ms-4 mt-2">クリニック登録</h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            顧客であるクリニックの情報を登録できます。<br>
            住所登録で簡単に場所確認ができます。<br>
            訪問可能日時、訪問頻度を設定できます。
          </p>
        </div>
      </div>
    </div>
      
    <div class="col-lg-6 col-12 mb-4 d-flex justify-content-center">
      <div class="card h-100 w-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <i class="fa-regular fa-map" style="font-size: 35px;"></i>
          <h5 class="card-title ms-4 mt-2">製品登録</h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            製品を登録し適応病名を確認できます。<br>
            クリニックの使用製品が確認できます。（予定）
          </p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 col-12 mb-4 d-flex justify-content-center">
      <div class="card h-100 w-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <i class="fa-solid fa-user-tie" style="font-size: 35px;"></i>
          <h5 class="card-title ms-4 mt-2">タスク管理</h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            訪問スケジュールを管理できます。<br>
            提出物を登録でき、事務作業も忘れません。
          </p>
        </div>
      </div>
    </div>
  
    <div class="col-lg-6 col-12 mb-4 d-flex justify-content-center">
      <div class="card h-100 w-100">
        <div class="card-header d-flex align-items-center justify-content-center">
          <i class="fa-regular fa-newspaper" style="font-size: 35px;"></i>
          <h5 class="card-title ms-4 mt-2">自動スケジューリング機能</h5> 
        </div>
        <div class="card-body">
          <p class="card-text">
            「スケジュール自動作成」ボタンを押すと<br>
            登録した訪問頻度にあわせて<br>
            自動的にスケジュールが組まれます。
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<hr class="border border-secondary border-2 opacity-50">

<div class="container text-center">
    <p class="lead mb-4">
      ※ご利用にはログインが必要です<br>
    </p>
</div>
